'.editor':
  'f12': 'atom-beautify:beautify-editor',

'atom-workspace atom-text-editor:not([mini])':
  'ctrl-q': 'editor:toggle-line-comments'
  'alt-down': 'editor:duplicate-lines'

'.platform-win32, .platform-linux':
  'ctrl-)': 'tree-view:toggle-focus'

'atom-workspace':
  'ctrl-k ctrl-g': 'fuzzy-grep:toggle'
